# User
This section list all end-points related user object.

## Login
`GET <%= config[:base_url] %>/user/login`

```http
GET /user/login HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Api-key: [API_KEY]
```

## Sign Up
`GET <%= config[:base_url] %>/user/signup`

```http
GET /user/signup HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Api-key: [API_KEY]
```

## Get User
This end-point will provide all user's attributes.

```http
GET /user HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Authorization: Bearer [USER_TOKEN]
Api-key: [API_KEY]
```

### Request
`GET <%= config[:base_url] %>/user`

>Example Command:

```php
<?php
ch = curl_init();
$user_token = '[USER_TOKEN]';
$api_key = '[API_KEY]';

curl_setopt($ch, CURLOPT_URL, "<%= config[:base_url] %>/user");
curl_setopt($ch, CURLOPT_HTTPHEADER,
                 array('Content-Type: application/x-www-form-urlencoded',
                       'Authorization: Bearer ' . $user_token,
                       'Api-key:' . $api_key));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
curl_setopt($ch, CURLOPT_HEADER, FALSE);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);

$response = curl_exec($ch);
$response = json_decode($response, true);

curl_close($ch);
```
```shell
curl "<%= config[:base_url] %>/user" \
  -H "Authorization: Bearer [USER_TOKEN]" \
  -H "Api-key: [API_KEY]"
```

### Response
> The above request returns JSON structured like this:

```json
{
    "id": 999,
    "email": "dummy_person@gmail.com",
    "email_verified": 1,
    "status": 10,
    "name": "Im Dummy Person",
    "identity_number": "317500010001",
    "identity_type": "ktp",
    "birth_date": "2000-01-01",
    "birth_place": 3492,
    "address": "Jln. Dummy Place",
    "city": 3405,
    "phone_number": "+6285729685018",
    "phone_number_verified": 1,
    "identity_image": "59_eaa4eba9453d906d8f5ae1816ecaf2fc_1522653089.jpg",
    "face_image": "59_725ba12bb7e49d650042fe46c2a5b5b5_1522653089.jpg",
    "face_and_identity_image": "59_c23bca50e0fc1ea05a074928489dcdfb_1521443408.jpeg",
    "deposit": 9999,
    "saving": 9999,
    "created_source": '[App ID]',
    "kyc_status": 2
}
```

Attribute | Description
----------|-------------
`id` | User's id
`email` | User's email
`email_verified` | Email verification status. Possible values are:<br><ul><li>`true`<br>User has done email verification</li><li>`false`<br>User hasn't done email verification. User should click confirmation link sent to email</li></ul>
`status` | User's status. Possible values are:<br><ul><li>`0`<br>User account hasn't active</li><li>`1`<br>User account has active</li><li>`2`<br>User account has been banned.</li></ul>
`name` | User's full name
`identity_type` | User's identity type. Pick one from the option. Options:<ul><li>`ktp`<br>Identity card (acronym of Kartu Tanda Penduduk)</li><li>`sim`<br>Driving license (acronym of Surat Izin Mengemudi)</li><li>`paspor`<br>Passport</li></ul>
`identity_number` | User's identity number depends on `identity_type`
`birth_date` | User's birth date.<br>`Format: YYYY-MM-DD`
`birth_place` | User's birth place.<br>Base on city code list
`address` | Current user's address.
`city` | Current user's city of residence<br>Base on city code list
`phone_number` | User's phone number. Start with country code.
`phone_number_verified` | Phone number verification status. Possible values are:<br><ul><li>`true`<br>User has done phone number verification</li><li>`false`<br>User hasn't done phone number verification</li></ul>
`kyc_status` | *Know Your Customer* status. Possible values are:<br><ul><li>`0`<br>User hasn't filled identity information and has been verified kyc image by Flip</li><li>`1`<br>User has filled identity information but hasn't been verified kyc verification by Flip</li><li>`2`<br>User has filled identity information and has been verified kyc verification by Flip</li></ul>
`identity_image` | Url of the identity card image
`face_image` | Url of the close up face image
`face_and_identity_image` | Url of the combination image. Contain user's face hold identity card.
`deposit` | User's deposit amount
`saving` | User's saving amount
`created_source` | The channel of which the user account was created. Contain application ID

## Update User
This end-point will insert/update user's attributes.

```http
POST /user HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Authorization: Bearer [USER_TOKEN]
Api-key: [API_KEY]
```

### Request
`POST <%= config[:base_url] %>/user`

>Example Command:

```php
<?php
$ch = curl_init();
$user_token = '[USER_TOKEN]';
$api_key = '[API_KEY]';
$payloads = [
    'email' => 'dummy@email.com',
    'name' => 'Im Dummy',
    'identity_number' => '3175000100010001',
    'identity_type' => 'ktp',
    'birth_date' => '1994-04-20'
    'birth_place' => '1039',
    'phone_number' => '081318171612',
    'city' => '1039',
    'address' => 'Jln. Dummy'
];

curl_setopt($ch, CURLOPT_URL, "<%= config[:base_url] %>/user");
curl_setopt($ch, CURLOPT_HTTPHEADER,
                 array('Content-Type: application/x-www-form-urlencoded',
                       'Authorization: Bearer' . $user_token,
                       'Api-key:' . $api_key));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
curl_setopt($ch, CURLOPT_HEADER, FALSE);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);
curl_setopt($ch, CURLOPT_POST, TRUE);
curl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query($payloads));

$response = curl_exec($ch);
$response = json_decode($response, true);

curl_close($ch);
```
```shell
curl "<%= config[:base_url] %>/user" \
  -X POST \
  -H "Authorization: Bearer [USER_TOKEN]" \
  -H "Api-key: [API_KEY]" \
  -d email="dummy@email.com" \
  -d name="Im Dummy" \
  -d identity_number="3175000100010001" \
  -d identity_type="ktp" \
  -d birth_date="1994-04-20" \
  -d birth_place="1039" \
  -d phone_number="081318171612" \
  -d city="1039" \
  -d address="Jln. Dummy"
```

### Parameters
Parameter | Type | Description
--------- | ----------- | -----------
`email` | *string* | **`optional`**<br>User's email
`name` | *string* | **`optional`**<br>User's full name
`identity_type` | *string* | **`optional`**<br>User's identity type. Pick one from the option. Options:<ul><li>`ktp`<br>Identity card (acronym of Kartu Tanda Penduduk)</li><li>`sim`<br>Driving license (acronym of Surat Izin Mengemudi)</li><li>`paspor`<br>Passport</li></ul>
`identity_number` | *string* | **`optional`**<br>User's identity number depends on `identity_type`
`birth_date` | *string* | **`optional`**<br>User's birth date.<br>`Format: YYYY-MM-DD`
`birth_place` | *string* | **`optional`**<br>User's birth place.<br>Base on city code list
`address` | *string* | **`optional`**<br>Current user's address.
`city` | *string* | **`optional`**<br>Current user's city of residence<br>Base on city code list
`phone_number` | *string* | **`optional`**<br>User's phone number. Start with country code.
`identity_image` | *file* | **`optional`**<br>User's identity card image depends on `identity_type`
`face_image` | *file* | **`optional`**<br>User's face image (close up)
`face_and_identity_image` | *file* | **`optional`**<br>Combination image. Contain user's face hold identity card.

## Verify Phone Number
This end point will ask Flip to verify user's phone number.

```http
POST /user/verify-phone-number HTTP/1.1
Content-Type: application/x-www-form-urlencoded
Authorization: Bearer [USER_TOKEN]
Api-key: [API_KEY]
```

### Request
`POST <%= config[:base_url] %>/user/verify-phone-number`

>Example Command:

```php
<?php
$ch = curl_init();
$user_token = '[USER_TOKEN]';
$api_key = '[API_KEY]';
$payloads = [
    'token' => '[PHONE_VERIFICATION_CODE]',
];

curl_setopt($ch, CURLOPT_URL, "<%= config[:base_url] %>/user/verify-phone-number");
curl_setopt($ch, CURLOPT_HTTPHEADER,
                 array('Content-Type: application/x-www-form-urlencoded',
                       'Authorization: Bearer' . $user_token,
                       'Api-key:' . $api_key));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
curl_setopt($ch, CURLOPT_HEADER, FALSE);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);
curl_setopt($ch, CURLOPT_POST, TRUE);
curl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query($payloads));

$response = curl_exec($ch);
$response = json_decode($response, true);

curl_close($ch);
```
```shell
curl "<%= config[:base_url] %>/user/verify-phone-number" \
  -X POST \
  -H "Authorization: Bearer [USER_TOKEN]" \
  -H "Api-key: [API_KEY]" \
  -d token="[PHONE_NUMBER_VERIFICATION_CODE]"
```

### Parameters
Parameter | Type | Description
--------- | ----------- | -----------
`token` | *string* | **`required`**<br>Verification code that Flip sent to phone using SMS.